$clr-primary: #54c47a;
$clr-primary-lt: #80d671;
$clr-primary-dk: #27b485;

$clr-secondary-lt: #ffb900;
$clr-secondary-dk: #ff7730;

$clr-tertiary-lt: #2998ff;
$clr-tertiary-dk: #5643fa;

$clr-ntrl-min: #000;
$clr-ntrl-max: #fff;

$clr-base: #777;
$clr-base-lt-1: #f7f7f7;
$clr-base-lt-2: #eee;
