@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.footer {
    padding: 10rem 3rem;
    background-color: vars.$clr-base-dk-2;
    font-size: 1.4rem;

    > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 114rem;
        margin: 0 auto;

        @include mix.respond(tab-port) {
            grid-template-columns: 1fr;
            gap: 5rem;

            max-width: 70rem;
        }
    }

    a {
        display: inline-block;
        background-color: vars.$clr-base-dk-2;
        color: vars.$clr-base-lt-1;
        text-transform: uppercase;
        transition: all 0.2s;
    }

    a:hover,
    a:active {
        box-shadow: 0 1rem 2rem rgba(vars.$clr-ntrl-min, 0.4);
        color: vars.$clr-primary;
        transform: rotate(5deg) scale(1.3);
    }

    &__logo {
        width: 15rem;
        margin: 0 auto;
        margin-bottom: 6rem;
    }

    .footer-nav-list {
        display: inline-flex;
        justify-self: start;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 2rem;
        border-top: 1px solid vars.$clr-base-lt-2;

        @include mix.respond(tab-port) {
            justify-self: center;
        }

        li {
            display: inline-block;
        }
    }

    .footer-copy {
        max-width: 43.4rem;
        margin-left: auto;
        border-top: 1px solid vars.$clr-base-lt-2;
        color: vars.$clr-base-lt-1;

        @include mix.respond(tab-port) {
            justify-self: center;
            margin: 0;
            padding-top: 2rem;
            text-align: center;
        }
    }
}
