@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.card {
    position: relative;
    perspective: 150rem;

    @media (hover: none) {
        background-color: vars.$clr-ntrl-max;
        border-radius: 3px;
    }

    &__side {
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(vars.$clr-ntrl-min, 0.15);
        transition: all 0.8s ease;
        overflow: hidden;

        @media (hover: none) {
            border-radius: 0;
            box-shadow: none;
        }

        &--front {
            background-color: vars.$clr-ntrl-max;
        }

        &--back-a,
        &--back-b,
        &--back-c {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            backface-visibility: hidden;

            transform: rotateY(180deg);

            @media (hover: none) {
                position: static;
                height: auto;
                padding: 6rem 0 4rem;
                transform: rotateY(360deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &--back-a {
            background-image: linear-gradient(
                to right bottom,
                vars.$clr-secondary-lt,
                vars.$clr-secondary-dk
            );
        }

        &--back-b {
            background-image: linear-gradient(
                to right bottom,
                vars.$clr-primary-lt,
                vars.$clr-primary-dk
            );
        }

        &--back-c {
            background-image: linear-gradient(
                to right bottom,
                vars.$clr-tertiary-lt,
                vars.$clr-tertiary-dk
            );
        }
    }

    &:hover &__side {
        &--front {
            transform: rotateY(180deg);

            @media (hover: none) {
                transform: rotateY(0);
            }
        }

        &--back-a,
        &--back-b,
        &--back-c {
            transform: rotateY(360deg);
        }
    }

    &__picture-a,
    &__picture-b,
    &__picture-c {
        min-height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__picture-a {
        background-image: linear-gradient(
                to right bottom,
                vars.$clr-secondary-lt,
                vars.$clr-secondary-dk
            ),
            url(../img/nat-5.jpg);
    }

    &__picture-b {
        background-image: linear-gradient(
                to right bottom,
                vars.$clr-primary-lt,
                vars.$clr-primary-dk
            ),
            url(../img/nat-6.jpg);
    }

    &__picture-c {
        background-image: linear-gradient(
                to right bottom,
                vars.$clr-tertiary-lt,
                vars.$clr-tertiary-dk
            ),
            url(../img/nat-7.jpg);
    }

    &__heading {
        position: absolute;
        top: 12rem;
        right: 2rem;

        width: 70%;

        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: vars.$clr-ntrl-max;
    }

    &__heading-span {
        &--a,
        &--b,
        &--c {
            padding: 1rem 1.5rem;
            box-decoration-break: clone;
        }

        &--a {
            background-image: linear-gradient(
                to right bottom,
                rgba(vars.$clr-secondary-lt, 0.85),
                rgba(vars.$clr-secondary-dk, 0.85)
            );
        }

        &--b {
            background-image: linear-gradient(
                to right bottom,
                rgba(vars.$clr-primary-lt, 0.85),
                rgba(vars.$clr-primary-dk, 0.85)
            );
        }

        &--c {
            background-image: linear-gradient(
                to right bottom,
                rgba(vars.$clr-tertiary-lt, 0.85),
                rgba(vars.$clr-tertiary-dk, 0.85)
            );
        }
    }

    &__details {
        max-width: 75%;
        margin: 0 auto;
        padding: 3rem 0;

        @media (hover: none) {
            padding-bottom: 0;
        }
    }

    &__list-item {
        padding: 1rem;
        font-size: 1.5rem;
        text-align: center;

        &:not(:last-child) {
            border-bottom: 1px solid vars.$clr-base-lt-2;
        }
    }

    &__pricing-text,
    &__pricing-number {
        color: vars.$clr-ntrl-max;
    }

    &__pricing-text {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__pricing-number {
        margin-bottom: 8rem;
        font-size: 6rem;
        font-weight: 100;

        @include mix.respond(tab-port) {
            margin-bottom: 5rem;
        }
    }

    @include mix.respond(tab-port) {
        &__btn {
            margin: 0;
        }
    }
}
